choice TARGET_BOARD
    bool "Select the target board"

    config ESP32
        bool "Espressif ESP32"

    config pc
        bool "Windows Device Simulator"
    if pc
        config NETWORK_INTERFACE
        int "Network Interface to use"
            default 0
            help 
                Only ethernet interfaces are supported by default.
    endif

endchoice

menu "WiFi configuration"

config WIFI_SSID
    string "WiFi SSID"
    help
        The SSID of your wifi router.

config WIFI_PASSWORD
    string "WiFi password"
    help
        The password of your wifi router.

config WIFI_SECURITY
    string "WiFi security"
    help
        The security type of your Wi-Fi network

endmenu

menu "AWS configuration"

config IOT_ENDPOINT
    string "AWS IoT endpoint"
    help
        The endpoint associated with your aws account.

config THING_NAME
    string "Thing name"
    help
        The thing name associated with your device.

endmenu

choice "Demo Selection"
    bool "Select a demo to enable"
    
    config MQTT_DEMO_ENABLED
        bool "MQTT demo"

    config SHADOW_DEMO_ENABLED
        bool "Shadow demo"

endchoice