choice TARGET_BOARD
    bool "Select the target board"
    source "vendors/*/boards_Kconfig"
endchoice

#load the boards configurations
source "vendors/*/Kconfig"

menu "Library configurations"

source "libraries/*/*/*/def_KConfig"

source "libraries/*/*/*/KConfig"

config TCP_ENABLED
    bool "Enable TCP Library"
    default n
    help
        Choose to enable the TCP library and its configurations.

config TCP_ENABLED
    bool
    default y
    help
        Choose to enable the TCP library and its configurations.

endmenu

menu "WiFi configuration"

config WIFI_SSID
    string "WiFi SSID"
    help
        The SSID of your wifi router.

config WIFI_PASSWORD
    string "WiFi password"
    help
        The password of your wifi router.

choice WIFI_SECURITY
bool "Select your wifi security type"

config WIFI_SECURITY_OPEN
    bool "Wifi security type open"

config WIFI_SECURITY_WEP
    bool "Wifi security type wep"

config WIFI_SECURITY_WPA
    bool "Wifi security type wpa"

config WIFI_SECURITY_WPA2
    bool "Wifi security type wpa2"

endchoice
endmenu

menu "AWS configuration"

config IOT_ENDPOINT
    string "AWS IoT endpoint"
    help
        The endpoint associated with your aws account.

config THING_NAME
    string "AWS Thing name"
    help
        The endpoint associated with your aws account.

config THING_CERT
    string "Thing certificate"
    help
        The certificate associated with your registered thing.

config THING_PRIVATE_KEY
    string "Thing private key"
    help
        The private key associated with your registered thing.

endmenu

choice "Demo Selection"
    bool "Select a demo to enable"
    
    config MQTT_DEMO_ENABLED
        bool "MQTT demo"
        depends on MQTT_ENABLED

    config SHADOW_DEMO_ENABLED
        bool "Shadow demo"
        depends on MQTT_ENABLED

    config OTA_DEMO_ENABLED
        bool "OTA update demo"
        depends on OTA_ENABLED
endchoice