if MQTT_ENABLED

    menu "MQTT library configuration options"
    config MQTT_LIBRARY_LOG_NAME
        string "Library log name"

    choice MQTT_LIBRARY_LOG_LEVEL
        bool "Library log level"

        config MQTT_LOG_NONE
            bool "LOG_NONE"

        config MQTT_LOG_ERROR
            bool "LOG_ERROR"

        config MQTT_LOG_WARN
            bool "LOG_WARN"

        config MQTT_LOG_INFO
            bool "LOG_INFO"

        config MQTT_LOG_DEBUG
            bool "LOG_DEBUG"
    endchoice

    config MQTT_STATE_ARRAY_MAX_COUNT
        int "MQTT state array max count"

    config MQTT_MAX_QUEUED_PUBLISH_MESSAGES
        int "MQTT max queued publish messages"
    endmenu
endif