if BOARD_CY8CKIT_064S0S2_4343W
    rsource "boards/CY8CKIT_064S0S2_4343W/Kconfig"
endif

if BOARD_CYW943907AEVAL1F
    rsource "boards/CYW943907AEVAL1F/Kconfig"
endif

if BOARD_CYW954907AEVAL1F
    rsource "boards/CYW954907AEVAL1F/Kconfig"
endif