menu "Ota library configuration"

config STACK_SIZE
    int "Stack size"

config LOG2_FILE_BLOCK_SIZE
    int "Log 2 file block size"
    default 10

config SELF_TEST_RESPONSE_WAIT_MS
    int "Self test response wait (milliseconds)"
    default 16000


config FILE_REQUEST_WAIT_MS
    int "File request wait (milliseconds)"
    default 10000

config OTA_AGENT_PRIORITY
    int "OTA agent priority"
    default 0
    help
        0 is the lowest priority.

config MAX_THINGNAME_LEN
    int "Max thingname length"
    default 64

config MAX_NUM_BLOCKS_REQUEST
    int "Max num of blocks requested"
    default 1

config MAX_NUM_REQUEST_MOMENTUM
    int "Max num request momentum"
    default 32

config MAX_NUM_OTA_DATA_BUFFERS
    int "Max num OTA data buffers"
    default 4

config ALLOW_DOWNGRADE
    bool "Allow downgrades"

choice ENABLED_CONTROL_PROTOCOLS
    bool "Enabled control protocols" 

    config ENABLED_CONTROL_PROTOCOLS_MQTT
        bool "OTA data over MQTT"
        

    config ENABLED_CONTROL_PROTOCOLS_HTTP
        bool "OTA data over HTTP"

    config ENABLED_CONTROL_PROTOCOLS_HTTP_AND_MQTT
        bool "OTA data over HTTP and MQTT"
endchoice

choice ENABLED_DATA_PROTOCOLS
    bool "Enabled data protocols"

    config ENABLED_DATA_PROTOCOLS_HTTP_AND_MQTT
        bool "OTA data over HTTP and MQTT"

    config ENABLED_DATA_PROTOCOLS_HTTP
        bool "OTA data over HTTP"

    config ENABLED_DATA_PROTOCOLS_MQTT
        bool "OTA data over MQTT"

endchoice

choice PRIMARY_DATA_PROTOCOL
    bool "Select a primary data protocol"

    config PRIMARY_DATA_PROTOCOLS_MQTT
        bool "MQTT as primary data protocol"
        depends on (ENABLED_DATA_PROTOCOLS_HTTP_AND_MQTT || ENABLED_DATA_PROTOCOLS_MQTT)

    config PRIMARY_DATA_PROTOCOLS_HTTP
        bool "HTTP as primary data protocol"
        depends on (ENABLED_DATA_PROTOCOLS_HTTP_AND_MQTT || ENABLED_DATA_PROTOCOLS_HTTP)
endchoice
endmenu


menu "WiFi configuration"
depends on WIFI_ENABLED

config WIFI_SSID
    string "WiFi SSID"
    help
        The SSID of your wifi router.

config WIFI_PASSWORD
    string "WiFi password"
    help
        The password of your wifi router.

choice WIFI_SECURITY
bool "Select your wifi security type"

config WIFI_SECURITY_OPEN
    bool "Wifi security type open"

config WIFI_SECURITY_WEP
    bool "Wifi security type wep"

config WIFI_SECURITY_WPA
    bool "Wifi security type wpa"

config WIFI_SECURITY_WPA2
    bool "Wifi security type wpa2"

endchoice
endmenu

menu "Ethernet configuration"
depends on !WIFI_ENABLED
    config NETWORK_INTERFACE
        int "Network interface to use for ethernet"
        default 1
endmenu

menu "AWS configuration"

config IOT_ENDPOINT
    string "AWS IoT endpoint"
    help
        The endpoint associated with your aws account.

config THING_NAME
    string "AWS Thing name"
    help
        The endpoint associated with your aws account.

config THING_CERT
    string "Thing certificate"
    help
        The certificate associated with your registered thing.

config THING_PRIVATE_KEY
    string "Thing private key"
    help
        The private key associated with your registered thing.

endmenu

choice "Demo Selection"
    bool "Select a demo to enable"
    
    config MQTT_DEMO_ENABLED
        bool "MQTT demo"
        depends on MQTT_ENABLED

    config SHADOW_DEMO_ENABLED
        bool "Shadow demo"
        depends on MQTT_ENABLED

    config OTA_DEMO_ENABLED
        bool "OTA update demo"
        depends on OTA_ENABLED
endchoice